header {
    padding: 20px 0 ;
    border-bottom: 1px solid $body-color;
}
.desktop-menu {
    width: 100%;
    .menu {
        height: 100%;
    }
    ul {
        display: flex;
        list-style: none;
        height: 100%;
        align-items: center;
        justify-content: end;
        li {
            margin: 0 5px;
        }
    }
    a {
        color: $font-color;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        padding: 10px;
        transition: .3s;
        border: 1px solid transparent;
        &:hover {
            color: $font-hover;
            border: 1px solid $font-hover;
        }
    }
}
